.input-container {
    border: 1px solid var(--color-grey-2);
    padding: 1em 1.5em;
    background-color: var(--color-white);
    border-radius: 4px;
    color: var(--color-black);
    font-size:1.4rem;
    margin-bottom: 1rem;
    display: flex;
}

.input-container .icon {
    flex-grow: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.input-container .icon .shape {
    fill: var(--color-grey-3);
}

.input-container .content {
    flex: 1;
}

.input-dropdown {
    position:relative;
    cursor: pointer;
}

.input-dropdown-list{
    position: absolute;
    top:4.6rem;
    left:0;
    background-color: var(--color-white);
    width: 100%;
    border: 1px solid var(--color-grey-2);
    border-radius: 0 0 4px 4px;
}

.input-dropdown-list li{
    padding: 1em 1.5em;
    cursor: pointer;
    border-bottom: 1px solid var(--color-grey-1);
}

.input-dropdown-list li:hover{
    background-color: var(--color-grey-1);
}

input {
    border: none;
    background-color: none;
    outline: none;
    font-size: 1.4rem;
}

input:disabled {
    opacity: 0.5;
}

.error-field {
    color: var(--color-error);
    position: absolute;
}