.forecast-day {
    margin: 1rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: rgba(0,0,0, 0.25) 0 0 5px;
    text-align: center;
    height: 100%;
}

.forecast-day h3 {
    text-transform: uppercase;
    color: var(--color-grey-3);
}

.forecast-day .icon {
    width: 50%;
    margin: auto;
    fill: var(--color-grey-2);
}

.forecast-day .max-temp {
    font-size: 3em;
    color: var(--color-grey-2);
    margin-bottom: 1rem;
    white-space: nowrap;
}

.forecast-day .min-temp {
    font-size: 1.5em;
    color: var(--color-grey-1);
    margin-top: 1rem;
}


