.forecast-city {
  color: var(--color-white);
  background-color: var(--color-black);
  display: grid;
  grid-template-columns: 35fr 65fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "search-field city-weather"
    "city-info city-weather";
  grid-gap: 5rem;
  padding: var(--body-padding);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

.forecast-city .city-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1  ;
}

.forecast-city .search-field {
  grid-area: search-field;
}

.forecast-city .city-info {
  margin-top:0;
  grid-area: city-info;
}

.forecast-city .city-info .city-name {
  margin:0;
}

.forecast-city .city-weather {
  grid-area: city-weather;
  display: flex;
  align-items: center;
}

.forecast-city .city-weather > * {
  margin: 1rem;
  flex: 1;
}

.forecast-city .city-weather .icon * {
  fill: var(--color-white);
  max-height: 200px;
}

.forecast-city .city-temp {
  font-size: 10vw;
  white-space: nowrap;
  margin-left: 6vw;
}

.forecast-city .city-temp .kelvin-temp {
  display: flex;
  align-items: center;
}

.forecast-city .city-temp .kelvin-temp .temp-mark {
  font-size: 5vw;
  margin-left: 2vw;
}

@media (min-width: 640px) {
  .forecast-city .city-temp {
    font-size: 64px;
  }
  
  .forecast-city .city-temp .kelvin-temp .temp-mark {
    font-size: 32px;
  }
}