:root {
  --color-white: #fff;
  --color-grey-1: #bbb;
  --color-grey-2: #888;
  --color-grey-3: #444;
  --color-black: #000;
  --color-error: red;
  --body-padding: 5rem;
}

#root{
  width:100vw;
  height:100vh;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: #f9f9f9
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2.2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}